.div132,
.div133 {
  position: absolute;
  top: 29px;
  left: 158px;
  letter-spacing: -0.05em;
  font-weight: 800;
  color: var(--color-royalblue-200);
}
.div133 {
  top: 35px;
  left: 280px;
  font-size: var(--font-size-base);
  letter-spacing: -0.1em;
  font-weight: 300;
  color: var(--color-dimgray-300);
}
.matchingprocesspage-child {
  position: absolute;
  top: 79px;
  left: 0;
  width: 1440px;
  height: 382px;
  object-fit: cover;
}
.p9 {
  margin: 0;
}
.div134 {
  position: absolute;
  top: 181px;
  left: 158px;
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 800;
  color: var(--color-white);
}
.matchingprocesspage-item {
  position: absolute;
  top: 141px;
  left: 158px;
  border-radius: var(--br-8xs);
  width: 192px;
  height: 25px;
}
.b11,
.div135 {
  position: absolute;
  font-size: var(--font-size-mini);
}
.b11 {
  top: 145px;
  left: 165px;
  letter-spacing: -0.05em;
  display: inline-block;
  width: 181px;
}
.div135 {
  top: 276px;
  left: 158px;
  letter-spacing: -0.1em;
  font-weight: 500;
  color: var(--color-white);
}
.matchingprocesspage-inner {
  position: absolute;
  top: 845px;
  left: 0;
  width: 1440px;
  height: 568px;
}
.div136 {
  position: absolute;
  top: 928px;
  left: 160px;
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 800;
}
.matchingprocesspage-child1 {
  position: absolute;
  top: 1009px;
  left: 934px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 346px;
  height: 283px;
}
.div137 {
  position: absolute;
  top: 1079px;
  left: 981px;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.03em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  width: 213px;
  height: 33px;
}
.div138,
.matchingprocesspage-child2 {
  position: absolute;
  left: 981px;
  width: 241px;
}
.div138 {
  top: 1132px;
  font-size: var(--font-size-lg);
  letter-spacing: -0.03em;
  line-height: 25px;
  color: var(--color-dimgray-100);
  display: inline-block;
  height: 74px;
}
.matchingprocesspage-child2 {
  top: 1201px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
  height: 42px;
}
.div139 {
  position: absolute;
  top: 1209px;
  left: 996px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.05em;
  line-height: 25px;
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.matchingprocesspage-child3 {
  position: absolute;
  top: 1009px;
  left: 160px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 346px;
  height: 283px;
}
.div140,
.div141 {
  position: absolute;
  left: 208px;
  letter-spacing: -0.03em;
  line-height: 25px;
  display: inline-block;
}
.div140 {
  top: 1083px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  width: 213px;
  height: 33px;
}
.div141 {
  top: 1144px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
  width: 241px;
  height: 74px;
}
.matchingprocesspage-child4 {
  position: absolute;
  top: 1009px;
  left: 547px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 346px;
  height: 283px;
}
.div142,
.div143,
.div144 {
  position: absolute;
  letter-spacing: -0.03em;
}
.div142 {
  top: 1083px;
  left: 594px;
  font-size: var(--font-size-3xl);
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  width: 213px;
  height: 33px;
}
.div143,
.div144 {
  font-size: var(--font-size-lg);
}
.div143 {
  top: 1139px;
  left: 593px;
  line-height: 25px;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 241px;
  height: 74px;
}
.div144 {
  top: 412px;
  left: 1185px;
  font-weight: 500;
  color: var(--color-darkgray-200);
}
.div145,
.userid3 {
  position: absolute;
  display: inline-block;
}
.userid3 {
  top: 35px;
  left: 1147px;
  font-size: var(--font-size-base);
  letter-spacing: -0.1em;
  font-weight: 300;
  color: var(--color-dimgray-300);
  width: 197px;
  height: 45px;
}
.div145 {
  top: 570px;
  left: 573px;
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 800;
  width: 468px;
}
.matchingprocesspage-child5 {
  position: absolute;
  top: 645px;
  left: 681px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 78px;
  height: 77px;
}
.matchingprocesspage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1413px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
