.div117,
.div118 {
  position: absolute;
  top: 29px;
  left: 158px;
  font-size: var(--font-size-6xl);
  letter-spacing: -0.05em;
  font-weight: 800;
  color: var(--color-royalblue-200);
}
.div118 {
  top: 35px;
  left: 280px;
  font-size: var(--font-size-base);
  letter-spacing: -0.1em;
  font-weight: 300;
  color: var(--color-dimgray-300);
}
.matchingpage-child {
  position: absolute;
  top: 79px;
  left: 0;
  width: 1440px;
  height: 382px;
  object-fit: cover;
}
.p9 {
  margin: 0;
}
.div119,
.matchingpage-item {
  position: absolute;
  left: 158px;
}
.div119 {
  top: 181px;
  font-size: var(--font-size-6xl);
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 800;
  color: var(--color-white);
}
.matchingpage-item {
  top: 141px;
  border-radius: var(--br-8xs);
  width: 192px;
  height: 25px;
}
.b9,
.div120 {
  position: absolute;
  font-size: var(--font-size-mini);
}
.b9 {
  top: 145px;
  left: 165px;
  letter-spacing: -0.05em;
  display: inline-block;
  width: 181px;
}
.div120 {
  top: 276px;
  left: 158px;
  letter-spacing: -0.1em;
  font-weight: 500;
  color: var(--color-white);
}
.matchingpage-inner {
  position: absolute;
  top: 845px;
  left: 0;
  width: 1440px;
  height: 568px;
}
.div121 {
  position: absolute;
  top: 928px;
  left: 160px;
  font-size: var(--font-size-6xl);
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 800;
}
.matchingpage-child1 {
  position: absolute;
  top: 1009px;
  left: 934px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 346px;
  height: 283px;
}
.div122 {
  position: absolute;
  top: 1079px;
  left: 981px;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.03em;
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  width: 213px;
  height: 33px;
}
.div123,
.matchingpage-child2 {
  position: absolute;
  left: 981px;
  width: 241px;
}
.div123 {
  top: 1132px;
  letter-spacing: -0.03em;
  line-height: 25px;
  color: var(--color-dimgray-100);
  display: inline-block;
  height: 74px;
}
.matchingpage-child2 {
  top: 1201px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
  height: 42px;
}
.div124 {
  position: absolute;
  top: 1209px;
  left: 996px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.05em;
  line-height: 25px;
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.matchingpage-child3 {
  position: absolute;
  top: 1009px;
  left: 160px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 346px;
  height: 283px;
}
.div125,
.div126 {
  position: absolute;
  left: 208px;
  letter-spacing: -0.03em;
  line-height: 25px;
  display: inline-block;
}
.div125 {
  top: 1083px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  width: 213px;
  height: 33px;
}
.div126 {
  top: 1144px;
  color: var(--color-dimgray-100);
  width: 241px;
  height: 74px;
}
.matchingpage-child4 {
  position: absolute;
  top: 1009px;
  left: 547px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 346px;
  height: 283px;
}
.div127,
.div128 {
  position: absolute;
  letter-spacing: -0.03em;
  line-height: 25px;
  display: inline-block;
}
.div127 {
  top: 1083px;
  left: 594px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  width: 213px;
  height: 33px;
}
.div128 {
  top: 1139px;
  left: 593px;
  color: var(--color-dimgray-100);
  width: 241px;
  height: 74px;
}
.matchingpage-child5 {
  position: absolute;
  top: 404px;
  left: 1206.5px;
  border-radius: var(--br-11xl);
  background-color: rgba(1, 1, 1, 0.7);
  width: 153.5px;
  height: 39px;
}
.div129,
.div130,
.div131 {
  position: absolute;
  top: 412px;
  left: 1185px;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: var(--color-darkgray-200);
}
.div130,
.div131 {
  top: 411px;
  left: 1275px;
}
.div131 {
  left: 1293px;
}
.div132,
.userid3 {
  position: absolute;
  display: inline-block;
}
.userid3 {
  top: 35px;
  left: 1147px;
  font-size: var(--font-size-base);
  letter-spacing: -0.1em;
  font-weight: 300;
  color: var(--color-dimgray-300);
  width: 197px;
  height: 45px;
}
.div132 {
  top: 556px;
  left: 158px;
  font-size: var(--font-size-6xl);
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 800;
  width: 468px;
}
.div133 {
  top: 565px;
  left: 579px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  width: 213px;
  height: 33px;
}
.div133,
.div134,
.div135,
.div136 {
  position: absolute;
  letter-spacing: -0.03em;
  line-height: 25px;
  display: inline-block;
}
.div134 {
  top: 565px;
  left: 992px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  width: 276px;
  height: 33px;
}
.div135,
.div136 {
  top: 618px;
  left: 579px;
  color: var(--color-dimgray-100);
  width: 274px;
  height: 74px;
}
.div136 {
  left: 992px;
  width: 313px;
}
.matchingpage-child6,
.matchingpage-child7 {
  position: absolute;
  top: 671px;
  left: 579px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
  width: 241px;
  height: 42px;
}
.matchingpage-child7 {
  left: 992px;
}
.div137,
.div138 {
  position: absolute;
  top: 679px;
  left: 641px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.05em;
  line-height: 25px;
  font-weight: 600;
  color: var(--color-royalblue-200);
}
.div138 {
  left: 1077px;
  display: inline-block;
  width: 146px;
}
.matchingpage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1413px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
